<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= label_tag :coordinates %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :x %>
        <%= f.text_field :x, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :y %>
        <%= f.text_field :y, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.submit 'Save' %>
  <small><%= link_to 'Cancel', player_path(@player) %></small>
<% end %>
