<h2>
  <%= @player.name %>
  <small><%= link_to icon('edit'), edit_player_path(@player) %></small>
</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Current Troops</h3>

    <% %w(offense defense).each do |type| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= type.humanize %></h3>
      </div>
      <table class="table table-condensed" data-type="<%= type %>">
        <thead>
          <tr>
            <th>Unit</th>
            <th>Qty</th>
            <th>RValue</th>
          </tr>
        </thead>
        <tbody>
          <% Unit.send(type).each do |unit| %>
          <tr>
            <td title="<%= unit.name %>"><%= unit.initials %></td>
            <td><input min="0" max="99999" class="rvalue-qty form-control input-sm" type="number" data-target="<%= unit.id %>-rvalue" /></td>
            <td><span class="rvalue pull-right" id="<%= unit.id %>-rvalue" data-rvalue="<%= unit.rvalue %>"></span></td>
          </tr>
          <% end %>
          <tr>
            <td colspan="2">Total RValue</td>
            <td><span class="pull-right" id="total-<%= type %>-rvalue"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Persian Position</h3>
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td>Cavalry</td>
            <td>Phalanx</td>
            <td>Heavy</td>
            <td>Light</td>
            <td>Power</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input min="0" max="99999" class="pp-qty" type="number" data-name="pp-cavalry" data-power="80" /></td>
            <td><input min="0" max="99999" class="pp-qty" type="number" data-name="pp-phalanx" data-power="60" /></td>
            <td><input min="0" max="99999" class="pp-qty" type="number" data-name="pp-heavy" data-power="40" /></td>
            <td><input min="0" max="99999" class="pp-qty" type="number" data-name="pp-light" data-power="20" /></td>
            <td><span id="pp-power"></span></td>
          </tr>
          <tr>
            <td><span id="pp-cavalry-pct"></span></td>
            <td><span id="pp-phalanx-pct"></span></td>
            <td><span id="pp-heavy-pct"></span></td>
            <td><span id="pp-light-pct"></span></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-3">
  </div>
</div>
