<div class="panel panel-default">
  <div class="panel-heading">
    Cities
    <%= link_to 'New City', new_player_city_path(@player), class: 'btn btn-success pull-right' %>
    <div class="clearfix"></div>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Location</th>
      <th>Resource Cap</th>
      <th>Total Resources</th>
      <th>Raids</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.name, [@player, city] %></td>
        <td><%= city.level || 'Not Set' %></td>
        <td><%= city.acropolis || 'Not Set' %></td>
        <td><%= city.location %></td>
        <td><%= city.resource_cap %></td>
        <td><%= city.total_raided_resources %></td>
        <td><%= city.raids.count %></td>
        <td>
          <%= link_to edit_player_city_path(@player, city) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </td>
        <td>
          <%= link_to [@player, city], method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
