<div class="panel panel-default">
  <div class="panel-heading">
    Cities
    <%= link_to 'New City', new_player_city_path(@player), class: 'btn btn-success pull-right' %>
    <div class="clearfix"></div>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Acropolis</th>
      <th>Resource Cap</th>
      <th>Production</th>
      <th>Storage</th>
      <th>Current</th>
      <th>Raid Estimate</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.name, [@player, city] %></td>
        <td><%= city.level || 'Not Set' %></td>
        <td><%= city.acropolis || 'Not Set' %></td>
        <td><%= city.resource_cap %></td>
        <td><%= city.timber_production || '---' %> / <%= city.bronze_production || '---' %> / <%= city.food_production || '---' %></td>
        <td><%= city.timber_storage || '---' %> / <%= city.bronze_storage || '---' %> / <%= city.food_storage || '---' %></td>
        <td><%= city.current_resources(:timber) || '---' %> / <%= city.current_resources(:bronze) || '---' %> / <%= city.current_resources(:food) || '---' %></td>
        <td><%= city.estimated_raid_resources || '---' %></td>
        <% if city.scouts.any? or city.raids.any? %>
          <td><%= time_ago_in_words city.last_battle_report_at %></td>
        <% else %>
          <td>Never</td>
        <% end %>
        <td>
          <%= link_to icon('edit'), edit_player_city_path(@player, city) %>
        </td>
        <td>
          <%= link_to icon('delete'), [@player, city], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td>
          <%= link_to icon('scout'), [:new, @player, city, :scout], data: {toggle: 'modal', target: '#modal_form'} %>
        </td>
        <td>
          <%= link_to icon('raid'), [:new, @player, city, :raid], data: {toggle: 'modal', target: '#modal_form'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
