<p id="notice"><%= notice %></p>

<h1><%= @city.name %></h1>
<%= link_to 'New Raid', [:new, @player, @city, :raid] %> |
<%= link_to 'New Scout', [:new, @player, @city, :scout] %>
<br />
<%= render 'raids/table' %>
<br />
<%= render 'scouts/table' %>

<%= link_to 'Edit', edit_player_city_path(@player, @city) %> |
<%= link_to 'Back', player_path(@player) %>
