<p id="notice"><%= notice %></p>

<%= link_to 'Player', player_path(@player) %> |
<%= link_to 'Edit City', edit_player_city_path(@player, @city) %>
<br />
<h1><%= @city.name %></h1>

<%= link_to 'New Raid', [:new, @player, @city, :raid] %>
<br />
<%= render 'raids/table' %>
<br />

<%= link_to 'New Scout', [:new, @player, @city, :scout] %>
<br />
<%= render 'scouts/table' %>

