<p id="notice"><%= notice %></p>

<%= link_to 'Back', player_path(@player) %>
<br />
<h2 class="sub-header">
  <%= @city.name %>
  <small><%= link_to 'Edit', edit_player_city_path(@player, @city) %></small>
</h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'raids/table' %>
  </div>
  <div class="col-md-6">
    <%= render 'scouts/table' %>
  </div>
</div>
